<%- include("partials/_header") -%>
</br>
</br>

    <!--Start search form-->
   
    <!-- Start Main content -->
    <main>
        <section class="pt-30 pb-65 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                      
                        <h2 class="font-heading mb-10">
                           ABOUT
                        </h2>
                        <h6 class=" mb-15">Dilek İrem Özbay</h6>
                    </br>
                        <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum sapien metus.</p>
                        
                        <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum sapien metus. Sit mi, pharetra, morbi arcu id. Pellentesque dapibus nibh augue senectus. </p>
                  
                    </div>
                    <div class="col-lg-6">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
          
        </section>
      
       
      
    </main>
    <!-- End Main content -->
    <!-- Footer Start-->
   <%- include("partials/_footer") -%>
