<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flow - Page | 404</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.png">
    <!-- Template CSS  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/widgets.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <div class="scroll-progress bg-grey-900"></div>
    <!-- Start Preloader -->
    <div class="preloader text-center">
        <div class="loader"></div>
    </div>
    <!--Offcanvas sidebar-->
    
    <!-- Start Header -->
    
      
    </div>
    <!-- Start Main content -->
    <main class="bg-brand-1">
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img class="mb-30" src="assets/imgs/theme/404.png" alt="">
                        <h2 class="headline-1 font-heading">Page Not Found</h2>
                        <p class="font-lg text-grey-700">
                            The link you clicked may be broken or the page may have been removed.<br> visit the <a href="index.html"> <strong> Homepage</strong></a> 
                        </p>
              
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End Main content -->
    <!-- Footer Start-->
    <%- include("partials/_footer") -%>