<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flow - Page | Search</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.png">
    <!-- Template CSS  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/widgets.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

    
    <!-- Start Header -->
    <header class="main-header header-sticky header-fluid">
        <div class="position-relative">
            <div class="container-fluid align-self-center">
                <div class="header-style-1 header-style-2">
                    
                    <div class="main-nav d-none d-lg-block">
                        <nav>
                         
                            
                        </nav>
                    </div>
                    <!--end: main-nav-->
                    <div class="header-right d-none d-lg-block">
                        
                       
                       
                       
                    </div>
                </div>
                <div class="mobile_menu d-lg-none d-block"></div>
            </div>
          
        </div>
    </header>
    <!--Start search form-->
    <div class="main-search-form bg-brand-4">
        <div class="container">
            <div class=" pt-50 pb-50 ">
                <div class="row mb-20">
                    <div class="col-12 align-self-center main-search-form-cover m-auto">
                        <p class="text-center"><span class="display-1">Search</span></p>
                        <form action="#" class="search-header">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="Search articles, places and people">
                                <div class="input-group-append">
                                    <button class="btn btn-search bg-white" type="submit">
                                        <img class="svg-icon-24" src="assets/imgs/theme/svg/search.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-80 text-center">
                    <div class="col-12 font-small suggested-area">
                        <h5 class="suggested font-heading mb-20 text-grey-400"> <strong>Suggested keywords:</strong></h5>
                        <ul class="list-inline d-inline-block">
                            <li class="list-inline-item"><a href="category.html">Health</a></li>
                            <li class="list-inline-item"><a href="category.html">Travel tips</a></li>
                            <li class="list-inline-item"><a href="category.html">Lifestyle</a></li>
                            <li class="list-inline-item"><a href="category.html">Technology</a></li>
                            <li class="list-inline-item"><a href="category.html">Food</a></li>
                            <li class="list-inline-item"><a href="category.html">Books</a></li>
                            <li class="list-inline-item"><a href="category.html">Drink</a></li>
                            <li class="list-inline-item"><a href="category.html">Fashion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Main content -->
    <main>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="position-relative">
                    <img src="assets/imgs/theme/plane.png" alt="" class="shape-arrow-login d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-5 text-center">
                            <img class="mb-30" src="assets/imgs/theme/lock.png" alt="">
                            <h1 class="headline-1 font-heading">Movie Diaries</h1>
                            <p class="font-lg text-grey-400">
                                If you don't have an account? <strong><a href="/register">Sign up</a></strong> now, or
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <h3 class="font-heading mb-50">Login</h3>

                            <div id="login-error-message">
                                <p style="color: red"></p>
                            </div>

                            <form class="form-contact comment_form" action="/login" id="login-form" onsubmit="handleLogin(event)">
                                <div class="form-group">
                                    <input class="form-control" name="username" id="username" type="text" placeholder="Username or Email"
                                        <% if (values.email) { %>
                                            value="<%= values.email %>"
                                        <% } %>
                                    >
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="password" id="password" type="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button onclick="handleLogin(event)" class="btn btn-lg bg-grey-900 text-white btn-block" type="submit">LOGIN</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-fg bg-brand-1 text-grey-700 btn-block">Sign in with Google</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-fg bg-brand-f text-white btn-block">Sign in with Facebook</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End Main content -->
    <%- include("partials/_footer") -%>

    <script>
        async function handleLogin(ev) {
            ev.preventDefault();

            const form = new FormData(document.getElementById("login-form"));

            console.log('login form:')
            for (var pair of form.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }

            const resp = await fetch('/api/login?from=register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(Object.fromEntries(form)),
            });
            const data = await resp.json();

            console.log('login response:', data);

            if (data.success) {
                localStorage.setItem('token', data.token);
                alert('login success');
                window.location.href = '/main';

                return;
            }

            document.querySelector('#login-error-message p').innerHTML = data.error;
        }
    </script>
