<%- include("partials/_header") -%>

    <!--Start search form-->
  
    <!-- Start Main content -->
    <main>
        <section class="pt-30 pb-65">
            <div class="container">
                <div class="archive-header pb-10">
                    <div class="archive-header-title">
                        <h1 class="font-heading mb-30">Movie Diaries</h1>
                        <p class=" font-lg">Your Movie Tracker</p>
                    </div>
                
                </div>
                <div class="hr"></div>
            </div>
        </section>
        <div class="recent-posts pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="loop-list loop-list-style-1  mb-md-30">
                            <article class="hover-up-3 border-radius-10 overflow-hidden wow fadeIn animated">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-thumb position-relative" style="background-image: url(assets/imgs/news/thumb-3.jpg)">
                                            <a class="img-link" href="single.html"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="post-content pr-30">
                                            <div class="post-meta-1 mb-20">
                                                <a href="category.html" class="tag-category bg-brand-1 shadown-1 text-dark button-shadow hover-up-3" tabindex="0">Fashion</a>
                                            </div>
                                            <h4 class="post-title mb-40">
                                                <a class="" href="single.html">Beachmaster Elephant Seal Fights achmaster Elephant</a>
                                            </h4>
                                            <div class="d-flex">
                                                <div class="post-meta-2 font-md d-flex w-70">
                                                    <a class="align-self-center" href="page-author.html" tabindex="0">
                                                        <img src="assets/imgs/authors/author.jpg" alt="">
                                                    </a>
                                                    <div class="mb-0 post-on font-lg text-grey-400">
                                                        <a href="page-author.html" tabindex="0"> <strong class="author-namge">Kate Adie</strong></a>
                                                    </div>
                                                </div>
                                                <div class="text-right post-list-icon align-self-center w-30">
                                                    <a><i class="elegant-icon icon_heart_alt "></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="hover-up-3 border-radius-10 overflow-hidden wow fadeIn animated">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-thumb position-relative" style="background-image: url(assets/imgs/news/thumb-8.jpg)">
                                            <a class="img-link" href="single.html"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="post-content pr-30">
                                            <div class="post-meta-1 mb-20">
                                                <a href="category.html" class="tag-category bg-success shadown-1 text-dark button-shadow hover-up-3" tabindex="0">Travel</a>
                                            </div>
                                            <h4 class="post-title mb-40">
                                                <a class="" href="single.html">After a Few Dates, They Traveled to the Other Side of the World</a>
                                            </h4>
                                            <div class="d-flex">
                                                <div class="post-meta-2 font-md d-flex w-70">
                                                    <a class="align-self-center" href="page-author.html" tabindex="0">
                                                        <img src="assets/imgs/authors/author-2.jpg" alt="">
                                                    </a>
                                                    <div class="mb-0">
                                                        <a href="page-author.html" tabindex="0"> <strong class="author-namge">Aten Joun</strong></a>
                                                        <p class="post-on font-sm text-grey-400 mb-0">12 minutes ago</p>
                                                    </div>
                                                </div>
                                                <div class="text-right post-list-icon align-self-center w-30">
                                                    <a><i class="elegant-icon icon_heart_alt "></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="hover-up-3 border-radius-10 overflow-hidden wow fadeIn animated">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-thumb position-relative" style="background-image: url(assets/imgs/news/thumb-5.jpg)">
                                            <a class="img-link" href="single.html"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="post-content pr-30">
                                            <div class="post-meta-1 mb-20">
                                                <a href="category.html" class="tag-category bg-primary shadown-1 text-dark button-shadow hover-up-3" tabindex="0">Health</a>
                                            </div>
                                            <h4 class="post-title mb-40">
                                                <a class="" href="single.html">Jessamyn Stanley's 5-Minute Yoga for Beginners</a>
                                            </h4>
                                            <div class="d-flex">
                                                <div class="post-meta-2 font-md d-flex w-70">
                                                    <a class="align-self-center" href="page-author.html" tabindex="0">
                                                        <img src="assets/imgs/authors/author-3.jpg" alt="">
                                                    </a>
                                                    <div class="mb-0">
                                                        <a href="page-author.html" tabindex="0"> <strong class="author-namge">J. Anna</strong></a>
                                                        <p class="post-on font-sm text-grey-400 mb-0">3 days ago</p>
                                                    </div>
                                                </div>
                                                <div class="text-right post-list-icon align-self-center w-30">
                                                    <a><i class="elegant-icon icon_ribbon_alt "></i></a>
                                                    <a><i class="elegant-icon icon_heart_alt "></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="hover-up-3 border-radius-10 overflow-hidden wow fadeIn animated">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="post-thumb position-relative" style="background-image: url(assets/imgs/news/thumb-6.jpg)">
                                            <a class="img-link" href="single.html"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="post-content pr-30">
                                            <div class="post-meta-1 mb-20">
                                                <a href="category.html" class="tag-category bg-danger shadown-1 text-dark button-shadow hover-up-3" tabindex="0">Kitchen</a>
                                            </div>
                                            <h4 class="post-title mb-40">
                                                <a class="" href="single.html">How an MS Diagnosis Changed My Relationship With Food</a>
                                            </h4>
                                            <div class="d-flex">
                                                <div class="post-meta-2 font-md d-flex w-70">
                                                    <a class="align-self-center" href="page-author.html" tabindex="0">
                                                        <img src="assets/imgs/authors/author-4.jpg" alt="">
                                                    </a>
                                                    <div class="mb-0">
                                                        <a href="page-author.html" tabindex="0"> <strong class="author-namge">Kasumi</strong></a>
                                                        <p class="post-on font-sm text-grey-400 mb-0">September 19, 2021</p>
                                                    </div>
                                                </div>
                                                <div class="text-right post-list-icon align-self-center w-30">
                                                    <a><i class="elegant-icon icon_ribbon_alt "></i></a>
                                                    <a><i class="elegant-icon icon_heart_alt "></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                   
                </div>
                <div class="mt-65">
                    <button class="btn btn-lg bg-dark text-white d-inline-block">Load more posts</button>
                </div>
            </div>
        </div>
       
    </main>
    <!-- End Main content -->
    <!--end site-bottom-->
    <!-- Footer Start-->
    <%- include("partials/_footer") -%>