<%- include("partials/_header") -%>

    <!--Start search form-->
   
    <!-- Start Main content -->
    <main>
        <section class="pt-30 pb-65 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h6 class="text-uppercase font-heading text-muted mb-15">Winner of the Week</h6>
                        <h2 class="font-heading mb-50">
                           Weekly Movie Recommendations
                        </h2>
                        <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum sapien metus.</p>
                        <p>Tempus ultricies augue luctus et ut suscipit. Morbi arcu, ultrices purus dolor erat bibendum sapien metus. Sit mi, pharetra, morbi arcu id. Pellentesque dapibus nibh augue senectus. </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="../public/images.jpg" alt="">
                    </div>
                </div>
            </div>
          
        </section>
      
       
      
    </main>
    <!-- End Main content -->
    <!--end site-bottom-->
    <!-- Footer Start-->
   <%- include("partials/_footer") -%>
