<%- include("partials/_header") -%>

    <!--Start search form-->
    <div class="main-search-form bg-brand-4">
        <div class="container">
            <div class=" pt-50 pb-50 ">
                <div class="row mb-20">
                    <div class="col-12 align-self-center main-search-form-cover m-auto">
                        <p class="text-center"><span class="display-1">Search</span></p>
                        <form action="#" class="search-header">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="Search articles, places and people">
                                <div class="input-group-append">
                                    <button class="btn btn-search bg-white" type="submit">
                                        <img class="svg-icon-24" src="assets/imgs/theme/svg/search.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Start Main content -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="container single-content">
                        <div class="entry-header entry-header-style-1 mb-50 pt-65">
                            <div class="post-meta-1 mb-20">
                               
                                <span class="post-date text-muted font-md">September 15, 2021</span>
                            </div>
                            <h1 class="entry-title mb-50 fw-700">
                                 Secret Gossips
                            </h1>
                            <div class="row align-self-center">
                                <div class="col-md-6">
                                    <div class="post-meta-2 font-md d-flext align-self-center mb-md-30">
                                       
                                    
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <!--end single header-->
                        <figure class="image mb-30 m-auto text-center border-radius-10 hover-up-3">
                            <img class="border-radius-10" src="assets/imgs/news/news-16.jpg" alt="post-title" />
                        </figure>
                        <!--figure-->
                        <article class="entry-wraper mb-50">
                            <div class="excerpt mb-30">
                                <p>Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far bald that roadrunner python inside held shrewdly the manatee.</p>
                            </div>
                            <div class="entry-main-content wow fadeIn animated">
                                <p>Fretful human far recklessly while caterpillar well a well blubbered added one a some far whispered rampantly whispered while irksome far clung irrespective wailed more rosily and where saluted while black dear so yikes as considering recast to some crass until.</p>
                                <hr class="wp-block-separator is-style-dots">
                                foolhardy and some far purposefully much one at the much conjointly leapt skimpily that quail sheep some goodness nightingale the instead exited expedient up far ouch mellifluous altruistic and and lighted more instead much when ferret but the.</p>
                          
                                <!--End Subcrible-->
                
                    
                      
                            
                            
                            </div>
                        </article>
                    </div>
                </div>
                <!--End: col-lg-8 -->
             
            </div>
        </div>
        <!--container-->
       
    </main>
    <!-- End Main content -->
    <!--end site-bottom-->

    <%- include("partials/_footer") -%>