    <!-- Footer Start-->
    <footer class="pt-20 bg-dark">
        <div class="container">
            <div class="footer-copy-right pt-10 mt-20 wow fadeIn animated font-md">
                <p class="float-md-left font-small text-muted">&copy; 2022, Gusto Dream Project by <a href="https://alithemes.com" target="_blank">Potential Gustier</a></p>
                
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="../public/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../public/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="../public/assets/js/vendor/bootstrap.min.js"></script>
    <script src="../public/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="../public/assets/js/vendor/slick.min.js"></script>
    <script src="../public/assets/js/vendor/wow.min.js"></script>
    <script src="../public/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="../public/assets/js/vendor/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="../public/assets/js/main.js"></script>
</body>

</html>