
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flow - Page | Search</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/assets/imgs/theme/favicon.png">
    <!-- Template CSS  -->
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/css/widgets.css">
    <link rel="stylesheet" href="../../public/assets/css/responsive.css">
</head>

    <!-- Start Header -->
    <div class="topbar bg-brand-1 pt-25 pb-10 font-lg ">
        <div class="container">  <ul class="main-menu d-none d-lg-inline">
            <li class="menu-item-has-children"></li>
            
            <li class="menu-item-has-children font-weight-bold " >
                <a href="/movies-and-stars">Blog</a>

            <li class="menu-item-has-children font-weight-bold">
                
                 <a href="/profile">Profile</a> </li>

            <li class="menu-item-has-children font-weight-bold">
             <a href="/movie-add">Share Movie</a> </li>

             <li class="menu-item-has-children font-weight-bold">
                <a href="/star-add">Share Movie Star</a> </li>

             
            <li class="menu-item-has-children font-weight-bold">
                <a href="/about">About</a> </li>

            </ul>
        </div>
    </div>
    

